/*reset*/
button {
    outline:none
}



/*------水晶button*/
.btn {
    padding: .3em .8em;
    border: 1px solid #446d88;
    background: #58a linear-gradient(hsla(0,0%,100%,.2),
                                    transparent);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0,0,0,.5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    font-size: 125%;
    line-height: 1.5;
}

.btn.ok {
    background-color: #6b0;
}

.btn.cancel {
    background-color: #c00;
}

/*elebuttom*/
.elebuttom {
    box-sizing: border-box;
    line-height: 1;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #bfcbd9
}
.elebuttom.warning {
    background: #ff4949;
    border-color: #ff4949;
}
.elebuttom.warning:hover,
.elebuttom.warning:focus {
    background: #ff6d6d;
    border-color: #ff6d6d;
}
.elebuttom.warning:active{
    background: #e64242;
    border-color: #e64242;
}
.elebuttom.ok {
    background: #13ce66;
    border-color: #13ce66;
}
.elebuttom.ok:hover,
.elebuttom.ok:focus {
    background: #42d885;
    border-color: #42d885;
}
.elebuttom.ok:active{
    background: #11b95c;
    border-color: #11b95c;
}
.elebuttom.cancel {
    background: #50bfff;
    border-color: #50bfff;
}
.elebuttom.cancel:hover,
.elebuttom.cancel:focus {
    background: #73ccff;
    border-color: #73ccff;
}
.elebuttom.cancel:active{
    background: #48ace6;
    border-color: #48ace6;
}

/*tooltips*/
#tooltips {
    margin-top: 50px;
}
.tooltips {
    position: relative;
}
.tooltips:before {
    position: absolute;
    content: '';
    border: 5px solid transparent;
}
.tooltips:after {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    padding: 10px 15px;
    /*注意content属性！*/
    content: attr(data-tooltip);
    white-space: nowrap;
    color: #fff;
    border-radius: 4px;
    background: #383838;
}
.tooltips:before,
.tooltips:after {
    z-index: 20;
    visibility: hidden;
    transition: all.3s ease;
    transition-delay: 0ms;
    pointer-events: none;
    opacity: 0;
}
.tooltips:hover:before,
.tooltips:hover:after {
    visibility: visible;
    opacity: 1;
}
.tooltips.top:before {
    border-top: 5px solid #383838;
    left: 50%;
    top: -30%;
    transform: translateX(-50%);
}
.tooltips.top:after {
    left: 0px;
    top: -130%;
}
.tooltips.down:before {
    border-bottom: 5px solid #383838;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
.tooltips.down:after {
    left: 0px;
    top: 130%;
}
.tooltips.right:before {
    border-right: 5px solid #383838;
    left: 104%;
    top: 50%;
    transform: translateY(-50%);
}
.tooltips.right:after {
    left: 115%;
    top: 0;
}
/*[data-direction='down']:before {
    top: -webkit-calc(100% - 5px);
    top:    -moz-calc(100% - 5px);
    top:         calc(100% - 5px);

    border-bottom-color: #383838;
}
[data-direction='down']:after {
    top: -webkit-calc(100% + 5px);
    top:    -moz-calc(100% + 5px);
    top:         calc(100% + 5px);
}
[data-direction='down']:before,
[data-direction='down']:after {
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}*/

/*3Dcube*/

.cube {
    width: 300px;
    height: 300px;
    margin: 30px auto 10px auto;
    position:relative;
    transform-style:preserve-3d;
    animation: rotate 5s infinite;
}
.cube>.side {
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:300px;
    background: #aaa;
    font-size:60px;
    text-align:center;
    line-height:300px;
    font-weight:bold;
    color:#000;
    border:1px solid #000;
    transition:all .3s;
    opacity: .5;
}
.cube>.side.front {
    transform:rotateY(0) translateZ(150px);
    background: red;
}
.cube>.side.back {
    transform: rotateY(0) translateZ(-150px);
    background: blue;
}
.cube>.side.left {
    transform: rotateY(-90deg) translateZ(150px);
    background: orange;
}
.cube>.side.right {
    transform: rotateY(90deg) translateZ(150px);
    background: pink;
}
.cube>.side.top {
    transform: rotateX(90deg) translateZ(150px);
    background: yellow;
}
.cube>.side.bottom {
    transform: rotateX(90deg) translateZ(-150px);
    background: green;
}
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/*面包屑导航*/
.bread {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    display: flex;
}
.bread a {
    display: block;
    background: #F5F5F5;
    padding: .3em 1em;
    color: #666;
    text-decoration: none;
    position: relative;
}
.bread a:after {
    content: '';
    position: absolute;
    top: -30%;
    right: -1em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #F5F5F5;
}
.bread li {
    margin-right: 1.5em;
}
.bread a:hover {
    background: #BDBDBD;
}
.bread a:hover:after {
    border-left-color: #BDBDBD;
}